html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cabin Sketch', cursive;
}

.mt-6{
    margin-top: 150px;
}

.fa-xl{
    font-size: 50px;
}

.jumbotron{
    background-color: white;
}
.navbar{
    background:url("../img/wood.jpg");
    background-position: center;
}

.icedog{
    background:url("../img/icecream1.jpg");
    background-position: 70% 30%;
    width: 100%;
    height: 400px;
    z-index: 0;
}

.icedog:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("/img/icecream1.jpg");
}

.icedog a{
    display: none;
}

.pikeplace{
    background: url("../img/pikeplace.jpg");
    background-position: 50% 60%;
    height: 400px;
}

.pikeplace:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("/img/pikeplace.jpg");
}

.pikeplace a{
    display: none;
}

.cones{
    background: url("../img/cones.jpg");
    background-position: center;
    height: 400px;
}

.cones:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("/img/cones.jpg");
}

.cones a{
    display: none;
}

.ice-cream-1{
    background: url("../img/iceream2.jpg");
    background-position: 50% 30%;
    height: 400px;
}

.ice-cream-1:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("/img/iceream2.jpg");
}

.ice-cream-1 a{
    display: none;
}

.social-media{
    background: url("../img/socialmedia.jpg");
    background-position: center;
    height: 400px;
}

.social-media:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("/img/socialmedia.jpg");
}

.social-media a{
    display: none;
}

.basset{
    background: url("../img/basset.jpg");
    background-position: 50% 50%;
    height: 400px;
}



/* flavors page */
.ice-cream-3{
    background: url("../img/icecream4.jpg");
    background-position: 30% 15%;
    height: 700px;
}


/* story page  */
.seattle{
    background: url("../img/seattle.jpg");
    background-position: 50% 35%;
    height: 700px;
}

.story-text{
    font-size: 30px;
}

/* contact page */
.ice-cream-2{
    background: url("../img/icecream3.jpg");
    background-position: center;
    height: 700px;
}

.h-50{
    height: 50px;
}
.jumbotron h1{
    font-size: 5rem;
}

@keyframes jump{
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100%{transform: translateY(0px);}
}
.arrow{
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@media (max-width: 767px){

    .navbar-fixed-top {
        position: relative;
        top: auto;/* Auto position navbar top */
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:inherit;/* Clear max-height */
    }

    body{
        padding:0px;/* No padding */
    }
}


